.content
  margin 20px 0 0
  > p
    font-size 14px
    font-weight bold
    color #fff
    line-height 1.5
    letter-spacing .025rem
    text-align center
    text-shadow 0 0 3px rgba(#000, .5)
  a
    color inherit
    text-decoration underline
    &:hover
      text-decoration none
